/* Working with Material UI's Rating feature */

.MuiRating-root {
  color: var(--cc-gold) !important;
}
/* stop star from growing on hover */
.css-aax3j7-MuiRating-decimal {
  transform: scale(1) !important;
}

/* size of component */
.css-iljtu2-MuiRating-root {
  font-size: 10rem;
}
.css-1c99szj-MuiRating-icon {
  color: var(--cc-gold) !important;
}

.css-1vooibu-MuiSvgIcon-root {
  fill: pink;
}
